<h1>Burgers!</h1>

<div id='leftcolumn' >
<h2>Burgers that are ready to eat</h2>

<ul>
  {{#each burgers}}
    {{#unless devoured}}
      {{> burgers/burger-block devoured=true}}
    {{/unless}}
  {{/each}}
</ul>
</div>

<div id='rightcolumn'>
<h2>Burgers that have been eaten!</h2>

<ul>
  {{#each burgers}}
    {{#if devoured}}
      {{> burgers/burger-block devoured=false}}
    {{/if}}
  {{/each}}
</ul>
</div>

<h2 class="create-form-label">Add a Burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="bg">Burger Name:</label>
    <input type="text" id="bg" name="burger_name">
  </div>
  <br>
  <div class="form-group">
    <label for="devoured">Eaten?</label><br>
    <input type="radio" name="devoured" value="1" checked> <label>Available!</label><br>
    <input type="radio" name="devoured" value="0"> <label> Eaten</label>
  </div>

  <button type="submit">Add Burger</button>
</form>